.container {
  padding-left: 6rem;
  padding-right: 6rem;
}
.headshotContainer {
  display: flex;
  flex-direction: row;
}
.body {
  flex: 1;
}
.secondaryBody {
  padding-left: 1.0875rem;
  padding-right: 1.0875rem;
}
.introText {
  text-align: center;
  padding-bottom: 2rem;
}
.bodyColorBlock {
  top: 0px;
  bottom: 0px;
  position: fixed;
  width: 10rem;
  background-color: rgb(169, 54, 30, 0.5);
  z-index: -1;
}
@media only screen and (max-width: 1000px) {
  .container {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
@media only screen and (max-width: 750px) {
  .container {
    padding-left: 1.0875rem;
    padding-right: 1.0875rem;
  }
  .headshotContainer {
    flex-direction: column;
  }
  .secondaryBody {
    padding-top: 1.45rem;
    padding-left: 0;
    padding-right: 0;
  }
  .introText {
    padding-bottom: 0;
  }
}
